<main class="container-fluid">
  <p class="bg-green-500 text-green-900 text-bold" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="bg-red-500 text-red-900 text-bold" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
