<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Sms", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
  <div class="flex items-center bg-black text-white">
    <img src={Routes.static_path(@conn, "/images/logo.png")} alt="Failed to load image" class="w-24 h-20" />
    <h1 class="ml-96 text-2xl">Student management system</h1>
  </div>
   <div class="flex  justify-around bg-orange-500">
    <a href="/">Home</a>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    </div>

    <%= @inner_content %>
  </body>
</html>
